@media screen and ( max-width: 1210px) {
  [aria-controls="navbarDropdown"] {
    display: block;
    margin-left: 565px;
    margin-top: 13px;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100px;
    margin-left: -21px;
    margin-top: -9px;
  }

  .header .header-wrapper ul li { margin-left: 435px; }

  .header-wrapper button { display: block; }

  .header .header-wrapper ul li a {
    display: flex;
    flex-direction: row;
    width: 79px;
    margin-left: -31px;
    margin-top: 9px;
    border: 1px solid #fff;
    background-color: rgb(52, 123, 250);
    padding: 4px 20px;
    border-radius: 2em;
    color: #fff;
  }

  .header-wrapper ul .buy-now {
    margin-left: -25px;
  }

  .header .header-wrapper ul .buy-now a {
    padding: 4px 20px;
    margin-left: -50px;
  }

  .header .header-wrapper ul li {
    margin-left: 0 
  }

  .header .header-wrapper ul li {
    margin-left: 440px;
  }

}  

@media screen and ( max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100px;
    margin-left: -21px;
    margin-top: -9px;
  }

  body {
    max-width: 758px;
    min-width: 758px;
  }

  .header .header-wrapper ul { flex-wrap: wrap; }

  .header .header-wrapper ul li {
    margin-left: 0;
  }

  .header .header-wrapper ul .buy-now { margin-left: -25px; }

  .header .header-wrapper ul li a {
    display: flex;
    flex-direction: row;
    width: 79px;
    margin-left: -31px;
    margin-top: 9px;
    border: 1px solid #fff;
    background-color: rgb(52, 123, 250);
    padding: 4px 20px;
    border-radius: 2em;
    color: #fff;
  }

  .header-wrapper ul .buy-now {
    margin-left: -25px;
  }

  .header .header-wrapper ul .buy-now a {
    padding: 4px 20px;
    margin-left: -24px;
  }

  .header-bottom {
    display: flex; 
    flex-direction: column; 
    background-color: rgb(255, 255, 255);
    margin-top: 70px;
    background-image: linear-gradient(252deg, azure, transparent), linear-gradient(56deg, #e7e7e7, transparent);
  }

  .header-wrapper button {
    margin-top: 13px;
    display: block;
  }

  .key-benefits-main {
    display: grid;
    grid-template-areas: 
    "div div"
    "div div";
  }

  .why-front-content div { margin-bottom: 20px; }

  .why-front-content div h2 div span {
    position: absolute;
    margin-left: -60px;
    margin-top: -7px;
  }

  .why-front-content div h2 hr {
    width: 26px;
    margin-left: -51px;
    margin-top: 13px;
    background-color: #6c2c1b;
    position: absolute;
    transform: rotate(90deg);
    opacity: 0.4;
  }

  .why-front-content div h2 { margin-left: 135px; }

  .why-front-content .combined-components h2 { margin-left: 180px; }
   
  .why-front-content .combined-components hr { margin-left: -51px; }

  .get-started,
  .why-front-content,
  .why-front-bottom, 
  .companies .company-logos,
  .pricing-main,
  .hire-us .main,
  .footer-wrapper {
    flex-direction: column;
  }

  .header-top .main-demo,
  .nav-right { display: none; }

  .header .navbar nav { margin-left: 50px; }

  .header-wrapper button {
    margin-left: 130px;
  }

  .why-front-bottom {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .why-front-bottom .dots {
    margin-top: -60px;
    position: absolute;
    margin-left: -494px;
  }

  .why-front-bottom .dots-bottom {
    margin-top: 126px;
    position: absolute;
    margin-right: 449px;
  }

  .why-front-main { margin: 0 70px; } 

  /**.why-front hr { display: none; } **/
  .why-front-main a { margin-top: 100px; }

  .why-front-bottom .hubspot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 126px;
    align-items: flex-start;
    margin-top: 20px;
  }

  .why-front-bottom .hubspot br { display: none; }

  .why-front .companies { margin-top: 0; }

  .why-front .companies .uber, .slack { display: none; }

  .companies .company-logos {
    gap: 100px;
    flex-direction: row;
    margin-left: 100px;
  }

  .pricing { margin-top: -63px; }

  .hr { margin: 60px 0; }

  .pricing-main { align-items: center; }

  .pricing-main .price-card {
    margin-left: 18px;
    height: auto;
    width: 500px;
  }

  .pricing .pricing-features {
    margin-top: 40px;
    margin-right: 71px;
    margin-left: 100px;
  }

  .hire-us {
    margin: 0 10px;
    border-radius: 0.3em;
  }

  .hire-us .main {
    padding: 0;
    gap: 30px;
  }

  .main .hire-us-left { 
    width: 95%;
    padding: 0px 20px;
  }

  .hire-us-left hr { width: 330px; }

  .hire-us-left div em br { display: none; }


  .hire-us-right {
    width: 605px;
    height: 408px;
  }

  .hire-us .hire-us-right { margin: 15px 15px; }

  .hire-us-right div input, .input { width: 270px; }

  .hire-us-right .input { width: 276px; }

  .hire-us-right textarea { width: 554px; }

  .hire-us-right .checkbox input { margin-top: -11px; }

  .hire-us-right a { padding: 10px 250px; }

  .hire-us-right .checkbox p { font-size:  13px; }

  .footer-wrapper { margin: 0 100px; }

  .footer-wrapper .front-left,
  .front-right {
    display: flex;
    gap: 100px;
    margin-left: 0;
  }

  .footer hr { margin: 40px auto; }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 100px;
  }

  .footer-bottom-left p { margin-left: 5px; }

  .footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 100px;
  }

  .footer-copyright .copyright-top {
    text-align: start;
    margin-bottom: 20px;
  }

  .copyright-bottom {
    margin-bottom: 50px;
    text-align: start;
  }
}
/**
@media screen and ( max-width: 575px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100px;
    margin-left: -21px;
    margin-top: -9px;
  }

  body {
    max-width: 300px;
    min-width: 370px;
  }

  .header .website-logo img { margin-right: 30px; }

} 
**/

































@media screen and ( max-width: 575px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100px;
    margin-left: -21px;
    margin-top: -9px;
  }

  body {
    max-width: 375px;
    min-width: 375px;
    margin: 0;
  }

  .header-container { padding-right: 0; }

  .header .website-logo img { margin-right: 180px; }

  .header-wrapper { margin-left: -150px; }

  .header-bottom-part-one { margin: 0 15px; }

  .header-bottom-part-two .google-a,
  .header-bottom-part-two .calendar-wrapper {
    display: none;
  }

  .header-bottom-part-two { margin-left: 60px; }

  .header-bottom-part-two .paypal-google-wrapper { margin-left: -50px; }

  .header-bottom-part-two .paypal-wrapper { margin-bottom: 30px; }

  .atlassian-google-a-wrapper {
    margin-top: 51px;
    margin-left: -40px;
  }

  .header-bottom-part-two .weave { margin-left: -14px; }

  .asana-calendar-wrapper { margin-left: -70px; }

  /** KEY BENEFITS **/

  .key-benefits {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
  }

  .key-benefits-main {
    display: flex;
    flex-direction: column;
  }

  .key-benefits-main div { width: 320px; }

  .key-benefits-main img { width: 70px; }
  
  .key-benefits-main h3 { font-size: xx-large; }

  .key-benefits-main p, a { font-size: x-large; }
  
  .get-started { margin: 50px 0; }

  .get-started .get-started-left {
    padding: 9px;
    font-size: x-large;
    width: 331px;
  }

  .get-started-right {
    margin-top: 80px;
  }

  .get-started-right img {
    width: 330px;
    margin-top: -50px;
    margin-left: 44px;
  }

  .why-front {
    margin-top: 100px;
  }

  .why-front-top h2 { font-size: 2.5em; }

  .why-front-top p {
    font-size: x-large;
    opacity: 0.7;
    width: 360px;
    margin: 20px 8px;
}

  .why-front-content {
    margin-left: -50px;
    margin-bottom: 0;
  }

  .why-front-main { 
    margin: 0 -25px;
    height: 270px;
  }

  .why-front-main a { margin-right: -20px; }

  .why-front-bottom .dots { display: none; }

  .why-front-bottom .dots-bottom {
    margin-top: -10px;
    margin-right: 395px;
  }

  .dots-bottom-top {
    margin-top: -10px;
    margin-left: -4px;
  }

  .dots-bottom .dots-bottom-top span, .dots-bottom .dots-bottom-bottom span {
    margin-right: 27px;
  }

  
  .why-front-bottom .person-three {
    width: 330px;
    border-radius: 0.5em;
  }

  .why-front-bottom .hubspot {
    margin-top: 10px;
    padding: 60px 63px;
  }

  .hubspot img { width: 140px; }

  .hubspot h3 {
    margin-top: -15px;
    font-size: xx-large;
  }

  .hubspot p {
    font-size: x-large;
    width: 330px;
  }

  .hubspot div {
    margin-top: -30px;
    font-size: larger;
    opacity: 0.7;
  }

  .companies .company-logos{
    gap: 30px;
    margin: 0 8px;
  }

  .companies .company-logos img {
    margin: 0 10px;
    width: 80px;
  }

  .companies .company-logos .weebly,
  .spotify { display: none; }

  .companies .company-logos .uber, .slack { display: block; }
  
  .pricing .pricing-top { margin-bottom: 0; }

  .pricing-top h2 { font-size: 2em; }

  .pricing .pricing-top p {
    width: 406px;
    font-size: larger;
  }

  .pricing-main .price-card {
    width: 245px;
    height: 345px;
    margin: 10px 20px;
  }

  .price-card p {
    font-size: x-large;
    opacity: 0.7;
  }

  .price-card a { padding: 13px 30px; }

  .price-card div {
    font-size: larger;
    opacity: 0.7;
  }

  .pricing .pricing-features {
    margin: 40px 20px;
    flex-direction: column;
  }

  .pricing-features .features-left .cancel-anytime,
  .pricing-features .features-right .money-back { margin-top: -30px; }

  .pricing-features .features-left img,
  .pricing-features .features-right img {
    width: 55px;
  }

  .pricing-features h2 { font-size: xx-large; }

  .pricing-features .features-left p,
  .pricing-features .features-right p { font-size: x-large; }

  .pricing-features .features-left p br,
  .pricing-features .features-right p br { display: none; }

  .pricing-features .features-right p { margin-bottom: 0; }
 
  .hire-us {
    width: 350px;
    margin: 0 12px;
  }

  .hire-us .hire-us-right {
    padding: 15px 10px;
    width: 260px;
    height: 825px;
    margin: 20px 34px;
  }

  .hire-us-right h2 { padding: 0 20px; }

  .hire-us-right div { flex-direction: column; }

  .hire-us-right div input {
    width: 220px;
    height: 40px;
    margin: 10px 10px;
    font-size: larger;
  }

  .hire-us-right .input {
    width: 227px;
    height: 45px;
    font-size: large;
    margin-left: 0px;
    margin-top: -10px;
  }

  .hire-us-right div .country {
    margin-left: 1px;
    margin-top: 15px;
    width: 227px;
    height: 45px;
    background-color: #fff;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0.4em;
    font-size:  large;
  }

  .hire-us-right .second-div { margin-top: -20px; }

  .hire-us-right textarea {
    width: 222px;
    margin-left: 19px;
  }

  .hire-us-right .third-div {
    font-size: large;
    margin-left: 10px;
    opacity: 0.7;
  }

  .hire-us-right .checkbox { flex-direction: row; }

  .hire-us-right .checkbox input {
    margin-top: 25px;
    position: absolute;
    margin-left: 4px;
  }
  
  .checkbox p br { display: none; }

  .checkbox p span { text-decoration: underline; }

  .hire-us-right .checkbox p {
    font-size: 19px;
    padding: 0 0px;
    margin-left: 19px;
    opacity: 0.7;
  }

  .hire-us-right a {
    padding: 15px 58px;
    margin: 0 15px;
  }

  .footer { margin: 70px 20px; }

  .footer-wrapper,
  .footer-bottom { margin: 0; }

  .front img { width: 150px; }

  .footer-wrapper .front,
  .front-left,
  .front-right,
  .footer-bottom { font-size: x-large; }

  .footer-wrapper .front-left,
  .front-right {gap: 60px; }

  .front-left .company div span { font-size: 17px; }

  .front-right { margin-top: -20px; }

  .footer-bottom-right {
    display: flex;
    gap: 10px;
  } 

  .footer-bottom-right img {
    margin-left: 192px;
    margin-top: 6px;
  }

  .footer-copyright {
    margin: 30px 6px;
    font-size: larger;
  }
}









