@media screen and ( max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100px;
    margin-left: -21px;
  }

  body {
    max-width: 758px;
    min-width: 758px;
  }

  .header-wrapper ul a {
    display: flex;
    flex-direction: row;
    width: 79px;
    margin-left: -31px;
    margin-top: 9px;
  }

  .header-wrapper ul .buy-now { margin-left: -25px; }

  .header-bottom {
    display: flex; 
    flex-direction: column; 
    background-color: rgb(255, 255, 255);
    margin-top: 70px;
    background-image: linear-gradient(252deg, azure, transparent), linear-gradient(56deg, #e7e7e7, transparent);
  }

  .header-wrapper button { display: block; }

  .key-benefits-main {
    display: grid;
    grid-template-areas: 
    "div div"
    "div div";
  }

  .why-front-content div h2 div span {
    position: absolute;
  }

  .get-started,
  .why-front-content,
  .why-front-bottom, 
  .companies .company-logos,
  .pricing-main,
  .hire-us .main,
  .footer-wrapper {
    flex-direction: column;
  }

  .header-top .main-demo,
  .nav-right { display: none; }

  .header .navbar nav { margin-left: 50px; }


 
}